.card {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0 #9AA3BC;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 1.25rem;
}

